.h1 {
  font-size: 80px;
  font-family: 'Merienda One', cursive;
}
.h2 {
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
}
.description-text{
  font-size: 30px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
.img {
    display: block;
    border-radius: 50%;
    width: 30%;
    height: 20%;
}
.taco {
  display: block;
  margin: auto;
  width: 30%;
}
.heart {
  display: block;
  margin: auto;
  width: 30%;
}
.pin {
  display: block;
  margin: auto;
  width: 30%;
}
