h1 {
  font-size: 80px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
h2 {
  font-size: 30px;
  text-align: center;
  font-family: 'Yrsa', serif;
}
.description-text{
  font-size: 30px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
.taco {
  display: block;
  margin: auto;
  width: 100px;
  height: auto;
}
.chile {
  display: block;
  margin: auto;
  width: 100px;
  height: auto;
}
.pin {
  display: block;
  margin: auto;
  width: 100px;
  height: auto;
}
.truck {
  display: block;
  margin: auto;
  width: 100px;
  height: auto;
}
.page-footer {
  color:  #ff884d;
}