h1 {
  font-size: 80px;
  font-family: 'Merienda One', cursive;
}
h2 {
  text-align: center;
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
}
.description-text{
  font-size: 30px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
.taco {
  display: block;
  margin: auto;
  width: 100px;
  height: auto;
}
.heart {
  display: block;
  margin: auto;
  width: 100px;
  height: auto;
}
.pin {
  display: block;
  margin: auto;
  width: 100px;
  height: auto;
}
