h3 {
  font-size: 80px;
  text-align: center;
  font-family: 'Indie Flower', cursive;  
}
.glyphicon glyphicon-hand-left{
  font-size: 100px;
}
#map {
        height: 500px;
        width: 500px;
        margin: auto;
       }
       